<h1>HIIIIIII</h1>
this is what is going down
https://www.youtube.com/watch?v=fmyvWz5TUWg&t=8800s
time on video 42:42
time on video 1:21:34
time on vidoe 2:26:40
time on video 2:45:41
time on video 3:06:34